 /* Base HTML Styles */
 @import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

 :root {
   --brand: #0F0F0F;
   --action: #C8FF55;
   --white: #ffffff;
   --base-light: #f6f6f6;
   --base-dark: #0F0F0F;
   --black: #111111;
 }

 /* CSS Reset */

 html {
   box-sizing: border-box;
   font-size: 16px;
   font-family: "Inter", sans-serif;
   color: var(--black);
   scroll-behavior: smooth;
 }

 *,
 *:before,
 *:after {
   box-sizing: inherit;
 }

 h1,
 h2,
 h3,
 h4,
 h5,
 h6 {
   font-family: "Inter", sans-serif;
 }

 body,
 h1,
 h2,
 h3,
 h4,
 h5,
 h6,
 p,
 ol,
 ul {
   margin: 0;
   padding: 0;
 }

 ol,
 ul {
   list-style: none;
 }

 /* img {
   max-width: 100%;
   height: auto;
 } */

 input,
 button,
 textarea,
 select {
   font: inherit;
 }

 /* Utilities */

 .display-none {
   display: none;
 }

 /* Components */

 /* btn-primary */
 .btn-primary {
   padding: 12px 16px;
   display: inline-block;
   text-decoration: none;
   color: var(--black);
   border-radius: 40px;
   background-color: var(--action);
   transition: all 0.5s ease-in-out;
 }

 .btn-primary:hover {
   box-shadow: 4px 2px 10px rgba(0, 0, 0, 0.2);
   transform: translateY(-4px);
 }

 /* btn-secondary */
 .btn-secondary {
   padding: 16px 16px;
   display: inline-block;
   text-decoration: none;
   color: var(--black);
   border-radius: 40px;
   background-color: var(--action);
   transition: all 0.5s ease-in-out;
 }

 .btn-secondary:hover {
   box-shadow: 4px 2px 10px rgba(0, 0, 0, 0.2);
   transform: translateY(-4px);
 }

 /* header */
 header .top-nav {
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 16px 20px;
   width: 100%;
 }

 @media (max-width: 600px) {
   header .top-nav {
     padding: 12px 10px;
   }

   .header-buttons {
     gap: 10px;
   }
 }

 header button {
   all: unset;
 }

 .header-buttons {
   display: flex;
   gap: 16px;
 }

 header h3 {
   margin: 0;
   text-align: center;
   font-size: 1.2rem;
 }

 /* @media (max-width: 600px) {
  header .top-nav {
    flex-direction: row;
    justify-content: space-between;
    padding: 12px 10px;
  }

  .header-buttons { gap: 10px; }
} */

 /* .desktop-nav */
 .desktop-nav {
   display: none;
 }

 /* .hamburger-icon  */
 .hamburger-icon {
   height: 44px;
 }

 /* .hero */

 #hero-image {
   width: 100%;
   padding: 24px 16px;
   margin: 0;
 }

 .hero-heading {
   padding: 24px 16px;
   margin: 0;
 }

 .hero h1 {
   font-size: 2.5rem;
   margin-bottom: 24px;
 }

 #hero-image {
   width: 100%;
   height: auto;
   display: block;
 }

 @media (min-width: 900px) {
   .hero-heading {
     padding-left: 160px;
     padding-right: 160px;
   }

   .hero h1 {
     font-size: 4rem;
   }
 }

 .sub {
   padding: 12px 16px;
   margin: 0;
 }

 .sub-heading {
   font-size: 1.5rem;
   margin-bottom: 12px;
 }

 @media (min-width: 900px) {
   .sub-heading {
     padding-left: 160px;
     padding-right: 160px;
   }

   .sub h2 {
     font-size: 2.5rem;
   }
 }

 .paragraph {
   padding: 12px 12px;
   margin: 24;
    font-size: 1rem;
   margin-bottom: 24px;
 }

  @media (min-width: 900px) {
   .paragraph {
     padding-left: 160px;
     padding-right: 160px;
   }

   .sub h2 {
     font-size: 2.5rem;
   }
 }

 .articles-container {
   display: flex;
   flex-direction: column;
   gap: 16px;
   padding: 16px;
 }

 .article {
   width: 100%;
   background-color: var(--base-light);
   border-radius: 10px;
   padding: 24px 16px;
 }

 @media (min-width: 900px) {
   .articles-container {
     flex-direction: row;
     flex-wrap: wrap;
     justify-content: center;
     gap: 24px;
     padding: 12px 102px;
   }

   .article {
     width: 45%;
   }
 }

 .tiles {
   display: block;
   width: 100%;
   height: auto;
   justify-content: center;
 }

 #tile-1:hover {
   filter: contrast(125%);
 }

 #tile-2:hover {
   filter: contrast(125%);
 }

 #tile-3:hover {
   filter: contrast(125%);
 }

 #tile-4:hover {
   filter: contrast(125%);
 }


 /* .contact-form */

 .contact-form {
   padding: 32px 16px;
 }

 @media (min-width: 900px) {
   .contact-form {
     padding: 48px 152px;
   }
 }

 .form-input {
  margin-bottom: 16px;
 }

 .contact-form select {
   display: block;
   width: 100%;
   padding: 16px;
   margin-bottom: 16px;
  gap: 24px;
 }

 .contact-form textarea {
   display: block;
   width: 100%;
   padding: 16px;
   gap: 24px;
 }

 .contact-form label {
   display: block;
   width: 100%;
 }

 .contact-form h2 {
   color: var(--base-dark);
   margin-bottom: 16px;
 }

 /* footer */

 footer {
   padding: 16px;
   text-align: left;
   background-color: var(--base-dark);
   border-radius: 10px;
   display: flex;
   justify-content: center;
   gap: 24px;
   
 }

 .contact-page footer {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
}

 #send-button {
   margin: 24px 0px;
 }

 .socials-icon {
   width: 44px;
   height: 44px;
 }