 /* Base HTML Styles */
 @import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

 :root {
   --brand: #0F0F0F;
   --action: #C8FF55;
   --white: #ffffff;
   --base-light: #f6f6f6;
   --base-dark: #0F0F0F;
   --black: #111111;
 }

 /* CSS Reset */

 html {
   box-sizing: border-box;
   font-size: 16px;
   font-family: "Inter", sans-serif;
   color: var(--black);
   scroll-behavior: smooth;
 }

 *,
 *:before,
 *:after {
   box-sizing: inherit;
 }

 h1,
 h2,
 h3,
 h4,
 h5,
 h6 {
   font-family: "Inter", sans-serif;
 }

 body,
 h1,
 h2,
 h3,
 h4,
 h5,
 h6,
 p,
 ol,
 ul {
   margin: 0;
   padding: 0;
 }

 ol,
 ul {
   list-style: none;
 }

 img {
   max-width: 100%;
   height: auto;
 }

 input,
 button,
 textarea,
 select {
   font: inherit;
 }
 /* Utilities */
 
 .display-none {
   display: none;
 }

 /* Components */

 /* btn-primary */
 .btn-primary {
   padding: 12px 16px;
   display: inline-block;
   text-decoration: none;
   color: var(--black);
   border-radius: 40px;
   background-color: var(--action);
   transition: all 0.5s ease-in-out;
 }
 
 .btn-primary:hover {
   box-shadow: 4px 2px 10px rgba(0, 0, 0, 0.2);
   transform: translateY(-4px);
 }

 /* btn-secondary */
 .btn-secondary {
   padding: 12px 16px;
   display: inline-block;
   text-decoration: none;
   color: var(--black);
   border-radius: 40px;
   background-color: var(--action);
   transition: all 0.5s ease-in-out;
 }
 
 .btn-secondary:hover {
   box-shadow: 4px 2px 10px rgba(0, 0, 0, 0.2);
   transform: translateY(-4px);
 }

 /* header */
 header .mobile-header {
   padding: 16px;
 }

 header button {
   all: unset;
 }

 /* .hero */
 .hero {
   height: 850px;
 }

 /* .mobile-nav */
 .mobile-nav a {
   text-decoration: none;
   color: var(--black);
   display: block;
  padding: 4px 16px;
 }
 
  /* .desktop-nav */
 .desktop-nav {
   display: none;
 }
 
 /* .hamburger-icon  */
 .hamburger-icon {
   height: 44px;
 }

 /* .hero */
 .hero {
   padding: 56px 16px;
   margin: 5px 10px;
 }
 
 .hero h1 {
   font-size: 4rem;
   margin-bottom: 24px;
   color: var(--black);
 }
 
 .hero .hero-accent {
   color: var(--action);
 }
 article {
   padding: 32px 16px;
   background-color: var(--base-light);
   border-radius: 10px;
   margin: 5px 10px;
   transition: all 0.3s ease;
 }
 
 article:hover {
   filter: contrast(150%);
 }
 

 article .icon {
   height: 24px;
   width: 24px;
   margin-left: 10px;
   margin-right: 10px;
 }
 
 article .article-heading h2 {
   margin-bottom: 16px;
   color: var(--base-dark);
 }
 
 article p {
   margin-bottom: 16px;
 }
 /* .contact-form */
 .contact-form {
   padding: 48px 16px;
   border-radius: 10px;
   margin: 5px 10px;
 }
 
 .contact-form input,
 .contact-form select {
   display: block;
   width: 100%;
   padding: 8px;
   margin-bottom: 16px;
 }
 
 .contact-form textarea {
   display: block;
   width: 100%;
   padding: 8px;
 }
 
 .contact-form label {
   display: block;
   width: 100%;
 }
 
 .contact-form h2 {
   color: var(--base-dark);
   margin-bottom: 16px;
 }
 /* footer */
 footer {
   padding: 16px;
   text-align: left;
   background-color: var(--base-dark);
    border-radius: 10px;
 }
 
 .socials-icon {
   width: 44px;
   height: 44px;
 }